<div class="container">
  <div class="header">
    <h1 class="title text-center mt-2">Axe Store</h1>
  </div>
  <div class="card mx-auto mt-4" style="width: 18rem;">
    <img src="/assets/gucci-axe.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gucci Axe</h5>
      <p class="card-text">Very elegant luxury Lumber Axe</p>
      <p class="card-text">Price: EUR 3000</p>
      <button class="btn btn-primary" (click)="buyAxe()">Buy one</button>
    </div>
  </div>
</div>
